.inputForm{
    display: flex;
    
}

.inputOne{
    flex: 10;
    padding: 5px;
    
}

.btn{
    flex: 1;
    display: inline-block;
    background: #555;
    color: #fff;
    padding: 7px 20px;
    cursor: pointer;
    outline: none;
}

.btn:hover{
    background: #666;
}